

<div class="jumbotron">
  <h1 style="text-align:center"class="display-1">Store Stats</h1>
  
  <hr class="my-4">
  <p>Number of products in database: <%= @products.count %></p>
  <hr class="my-4">
  <p>Number of categories in database: <%= @category.count %></p>
  
  
</div>